$font-path: '~/src/asset/fonts/';


$dark: #414141;
$darkM: #2E2E2E;
$white: #FFFFFF;
$mainGradien: linear-gradient(32.95deg, #FFCC21 8.75%, #FF963C 86.64%);


$gray: #D1D5DB;
$mediumGrey: #DCDCDC;
$greenChat: #58B687;
$grayDark: #F2F2F2;
$errorRed: #EF0000;
$errorMessage: #D44333;
$grayPlacehoder: #acb5bd;
$black: #000000;

$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;

$fontSemiBold: 'Inter-bold';
$fontRegular: 'Inter-regular';
$fontMedium: 'Inter-medium';
