@import "styles/core/var.scss";
@import "styles/core/mixin";
@import "styles/core/common";

.container {
  width: 1280px;
  margin: 0 auto;
}

.content {

}

.banner {
  display: flex;
  height: 312px;
 .left {
  width: 540px;
  object-fit: cover;
 }
 
 .right {
    padding: 12px 53px 0;
    width: calc(100% - 540px);
    object-fit: cover;
    background-color: $darkM;
 }
}

.miniMenu {
  padding: 24px 272px;
  display: flex;
  justify-content: space-between;
}

.listFoot {
  padding: 0 160px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  img {
    width: 234px;
    height: 241px;
    object-fit: cover;
  }
}

.wrapBtn {
  margin: 0 auto;
  text-align: center;
  padding: 28px 0 64px 0;
  .btn {
    width: 296px;
    height: 56px;
    text-align: center;
    background: $mainGradien;
    border: 0;
    border-radius: 5px;
    color: $white;
  }
}